<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Be The Donor</title>
  <!--  Bootstrap Style -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--  Google Font Style -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css' />
  <!--  Custom Style -->
  <link th:href="@{/styles/css/donate.css}" rel="stylesheet">
  <script src="/js/donateByCredit.js"></script>
</head>
<body>
<div class="header-sec-bar" >
         <span>
         <i class="fa fa-envelope-o"></i>support@bethedonor.com
         <i class="fa fa-phone "></i> 9029831333
         <i class="fa fa-link"></i><a class="detailed-analysis" href="/api/v1/analytics">Donation Detailed Analysis</a>
         </span>
</div>
<div id="main-head">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-3 col-sm-12">
        <h2>BE THE DONOR</h2>
        <h5>Fund raised till now </h5>
        <span><strong ><i class="fa fa-dollar"></i><a id="fa-dollar"><span th:text="${fundRaised}"></span> </a></strong></span>
        <br><a id="detailed-analysis" href="/api/v1/analytics">See Detailed Analysis</a>
        </hr>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" required="required" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input id="donation-amt" type="text" class="form-control" required="required" placeholder="Donation Amount">
          </div>
          <div class="form-group">
            <button id="donate-now" type="submit" class="btn btn-style-1 btn-lg ">DONATE NOW</button>
          </div>
        </form>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div>
          <img th:src="@{/images/donate.png}"  class="img-fluid" alt="Sample image" src="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>