<!DOCTYPE html>
<html>
<head>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/patient.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/patientDashboard.js"></script>
</head>
<body class="patient-dashboard">
<div class="CartContainer">
    <h2></h2>
    <div id="category-container">
    </div>
    <div class="Header">
        <h3 class="Heading">Add required products to cart</h3>
        <h3 class="Action removeAll">Reset</h3>
    </div>
    <div class=" products-container">
    </div>
    <hr>
    <div class="checkout">
        <div class="total">
            <div>
                <div class="Subtotal">Sub-Total</div>
                <div class="items-count"></div>
            </div>
            <div class="total-amount">$0</div>
        </div>
        <br/>
        <div class="total">
            <div>
                <div class="Subtotal">To Pay</div>
            </div>
            <div class="to-pay">$0</div>
        </div>
        <a th:href="@{/patient/deliveryAddress}">
            <button class="continue-button">Continue</button>
        </a>
    </div>
</div>
</div>
</body>
</html>
